
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html"
>
<head>
    <meta charset="UTF-8">
    <title>Add Car</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <!-- Custom CSS -->

</head>
<body>
<!-- Navigation Bar -->
<div layout:fragment="content">

<div class="container">
    <h1>Add a Car</h1>
    <form method="post" th:object="${car}" th:action="@{/add}">
        <label>Name:</label><br>
        <input type="text" th:field="*{make}"/><br>
        <label>Model:</label><br>
        <input type="text" th:field="*{model}"/><br>
        <label>Image:</label><br>
        <input type="text" th:field="*{image}"/><br>
        <label>Year:</label><br>
        <input type="text" th:field="*{year}"/><br>
        <label>Price:</label><br>
        <input type="text" th:field="*{price}"/><br>
        <label>Color:</label><br>
        <input type="text" th:field="*{color}"/><br>

        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>

</div>
</body>
</html>
