<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html"
>
<head>
    <meta charset="UTF-8">
    <title>Appointment Request Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
    <div class="p-3">
        <div class="card">
            <div class="card-header">Request an Appointment with <span th:text="${appointment.doctor.name}"></span></div>
            <div class="card-body">
                <form th:action="@{/request-appointment/{doctorId}(doctorId=${appointment.doctor.id})}" method="post">
                    <div class="form-group">
                        <label for="nom">Your Name</label>
                        <input type="text" class="form-control" id="nom" name="nom" required minlength="4" maxlength="20">
                    </div>
                    <div class="form-group">
                        <label for="email">Your Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Your Phone Number</label>
                        <input type="tel" class="form-control" id="phone" name="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="dateNaissance">Your date of birth</label>
                        <input type="date" class="form-control" id="dateNaissance" name="dateNaissance" required>
                    </div>
                    <div class="form-group">
                        <label for="date">Preferred Date of Appointment</label>
                        <input type="datetime-local" class="form-control" id="date" name="date" required>
                    </div>
                    <input type="hidden" name="doctorId" th:value="${appointment.doctor.id}">
                    <input type="hidden" name="patientId" th:value="${appointment.patient.id}">

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>